<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="#userHome">Home</a></li>
                <li role="presentation"><a href="#addItem">Add</a></li>
                <li role="presentation"><a href="#b">/b/</a></li>
                <li role="presentation" class="active"><a href="#userPanel">User Panel</a></li>
                <li role="presentation"><a href="#">Logout</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="../res/ant.png">
            <h3 class="ẗext-muted">Mrovchan</h3>
        </div>
    </div>
    <h1>User Panel</h1>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <input id="txtTitle" name="txtTitle" type="text" ng-model="oldPwd" placeholder="Enter your old password" class="form-control input-md">
            <input id="txtTitle" name="txtTitle" type="text" ng-model="newPwd" placeholder="Enter your new password" class="form-control input-md">
            <input id="txtTitle" name="txtTitle" type="text" ng-model="newPwd2" placeholder="Repeat your new password" class="form-control input-md">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 input-group">
            <input id="postButton" class="btn btn-xs btn-info"  name="singlebutton" class="btn btn-primary" ng-click="changePwd(oldPwd, newPwd, newPwd2)" value="Change password" />
            <input id="postButton" class="btn btn-xs btn-info"  name="singlebutton" class="btn btn-primary" ng-click="deleteAccount()" value="Delete account" />
        </div>
        <span style="color:red;" ng-show="error != null">{{error}}</span>
    </div>

    <footer class="footer">
        <p>&copy; Company 2016</p>
    </footer>
</div>
