<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="#userHome">Home</a></li>
                <li role="presentation" class="active"><a href="#addItem">Add</a></li>
                <li role="presentation"><a href="#">Logout</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="../res/ant.png">
            <h3 class="ẗext-muted">Mrówczan</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <input id="txtTitle" name="txtTitle" type="text" ng-model="title" placeholder="Enter Task" class="form-control input-md">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <input id="singleButton" name="singlebutton" class="btn btn-primary" ng-click="addItem(title)" value="Add Task" />
        </div>

        <footer class="footer">
            <p>&copy; Kąmpany 2016</p>
        </footer>
    </div>