<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="#userHome">Home</a></li>
                <li role="presentation"><a href="#addItem">Add</a></li>
                <li role="presentation"><a href="#b" class="active">/b/</a></li>
                <li role="presentation"><a href="#userPanel">User Panel</a></li>
                <li role="presentation"><a href="#">Logout</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="../res/ant.png">
            <h3 class="ẗext-muted">Mrovchan</h3>
        </div>
    </div>
    <h1>/b/</h1>
    <div class="list-group" id="thread-list" ng-repeat="thread in threads">
        <div class="list-group" ng-repeat="task in thread.tasks">
            <a href="#" onclick="return false;" class="list-group-item active">
                <span class="pull-right">
                    <!--<button class="btn btn-xs btn-info" ng-click="editTask(task.title,task.id,task.tag)" data-target="#editModal">EDIT</button>-->
                    <button class="btn btn-xs btn-warning" ng-show="thread.op == user && task == thread.tasks[0]" ng-click="confirmDelete(thread.id,thread.tag)" data-target="#deleteModal">DELETE</button> <!--TODO warunek-->
                    by: {{task.username}}
                </span>
                <p class="list-group-item-text">{{task.thread}}</p>
                <img ng-src="data:{{task.image['filetype']}};base64,{{task.image['base64']}}" />
                <p class="list-group-item-text">{{task.title}}</p>

            </a>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input id="txtTitle" name="txtTitle" type="text" ng-model="title" placeholder="Enter message" class="form-control input-md">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 input-group">
                <!--<input id="singleButton" name="singlebutton" type="file" ng-model="img" class="btn btn-primary" base-sixty-four-input value="Add Image" />-->
                <input type="file" name="imagebutton" ng-model="thread.img" base-sixty-four-input onload="onLoad" accept="image/*" required>
                <input id="postButton" class="btn btn-xs btn-info"  name="singlebutton" class="btn btn-primary" ng-click="addItem(title, thread)" value="Post" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <p class="list-group-item-text">{{image._source}}</p>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <span class="page-link" ng-show="prev != false" ng-click="loadPrev()">Previous page</span>
        <span class="page-link" ng-show="next != false" ng-click="loadNext()">Next page</span>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <h4 class="modal-title" style="color:red;" id="deleteModalLabel">You are about to Delete this Thread!</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteThread()">Delete</button>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer">
        <p>&copy; Company 2016</p>
    </footer>
</div>
